@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
